[Unit]
Description= Starts the Vault Service with custom confguration file
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty=/tmp/vault.hcl
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
User=ec2-user
Group=ec2-user
ProtectSystem=full
ProtectHome=read-only
PrivateTmp=yes
PrivateDevices=yes
SecureBits=keep-caps
AmbientCapabilities=CAP_IPC_LOCK
Capabilities=CAP_IPC_LOCK+ep
CapabilityBoundingSet=CAP_SYSLOG CAP_IPC_LOCK
NoNewPrivileges=yes
ExecStart=/usr/bin/vaul server -config=/etc/cluster-conf/vault.hcl
ExecReload=/binkill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGINT
Restart=on-failure
RestartSec=5
TimeoutStopSec=30
StartLimitInterval=60
StartLimitIntervalSec=60
StartLimitBurst=3
LimitNOFILE=65536
LimitMEMLOCK=infinity

[Install]
WantedBy=multi-user.target